body {
    background: url(https://img.freepik.com/free-vector/white-elegant-texture-background-style_23-2148432200.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  
} 
